/* line 17, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "ThirstyScriptBold";
  src: url(/fonts/2D548D_0_0.eot) format('embedded-opentype'), url(/fonts/2D548D_0_0.eot?#iefix) format('embedded-opentype'), url(/fonts/2D548D_0_0.woff) format('woff'), url(/fonts/2D548D_0_0.ttf) format('truetype');
}

/* line 6, ../sass/_typography.sass */
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 9, ../sass/_typography.sass */
h1 {
  font-family: "ThirstyScriptBold";
  font-size: 3rem;
  margin: 2rem 0;
  text-align: center;
}

/* line 15, ../sass/_typography.sass */
h2 {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  line-height: 2rem;
}
/* line 20, ../sass/_typography.sass */
h2.subtitle {
  margin: 2rem 0;
}

/* line 23, ../sass/_typography.sass */
h3 {
  font-size: 1.7rem;
  margin: 1.7rem 0;
}

/* line 27, ../sass/_typography.sass */
h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2rem;
  margin: 0.6rem 0;
}

/* line 33, ../sass/_typography.sass */
h5 {
  font-size: 1.4rem;
  font-family: "ThirstyScriptBold";
  line-height: 2rem;
  margin: 2.8rem 0 1.4rem;
}

/* line 39, ../sass/_typography.sass */
.heart {
  color: red;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.5em;
  position: relative;
  top: -0.25em;
}

/* line 46, ../sass/_typography.sass */
.message {
  font-size: 1.3rem;
  line-height: 1.6rem;
  margin-bottom: 1.6rem;
}

/* line 51, ../sass/_typography.sass */
.new {
  font-size: 0.8rem;
  background: red;
  color: white;
  margin-right: 0.5rem;
  padding: 0.2rem 0.5rem;
  position: relative;
  top: -0.2rem;
}

@media (min-width: 720px) {
  /* line 61, ../sass/_typography.sass */
  h1 {
    font-size: 4.5rem;
    margin: 4.5rem 0 3rem;
  }
  /* line 64, ../sass/_typography.sass */
  h1.small {
    font-size: 3rem;
    margin: 2rem 0;
  }

  /* line 67, ../sass/_typography.sass */
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
/* line 1, ../sass/_layout.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../sass/_layout.sass */
html {
  font-size: 14px;
}

/* line 7, ../sass/_layout.sass */
#main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
/* line 11, ../sass/_layout.sass */
#main > header {
  margin-bottom: 3rem;
}

@media (min-width: 720px) {
  /* line 15, ../sass/_layout.sass */
  html {
    font-size: 16px;
  }

  /* line 17, ../sass/_layout.sass */
  #main {
    padding: 30px;
  }
}
@keyframes pulse {
  /* line 2, ../sass/_forms.sass */
  0%, 100% {
    background-color: #aaaaaa;
  }

  /* line 4, ../sass/_forms.sass */
  50% {
    background-color: #cccccc;
  }
}

@-webkit-keyframes pulse {
  /* line 8, ../sass/_forms.sass */
  0%, 100% {
    background-color: #aaaaaa;
  }

  /* line 10, ../sass/_forms.sass */
  50% {
    background-color: #cccccc;
  }
}

/* line 14, ../sass/_forms.sass */
#send-fancy button, #send-fancy label, #send-fancy input, #send-fancy textarea {
  display: block;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  border-radius: 3px;
}
/* line 20, ../sass/_forms.sass */
#send-fancy label {
  margin-bottom: 0.33rem;
  font-size: 0.8rem;
  font-weight: 700;
}
/* line 25, ../sass/_forms.sass */
#send-fancy input[type="email"], #send-fancy input[type="text"], #send-fancy textarea {
  color: #222222;
  border: 2px solid #dddddd;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0.5rem;
  margin-bottom: 1rem;
  -webkit-transition: border-color 200ms ease-in-out;
  -moz-transition: border-color 200ms ease-in-out;
  -o-transition: border-color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out;
}
/* line 33, ../sass/_forms.sass */
#send-fancy input[type="email"]:focus, #send-fancy input[type="text"]:focus, #send-fancy textarea:focus {
  border-color: red;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.2);
  outline: none;
}
/* line 38, ../sass/_forms.sass */
#send-fancy button, #send-fancy input[type="button"], #send-fancy input[type="submit"] {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background: red;
  font-size: 1.4rem;
  color: white;
  border: none;
}
/* line 45, ../sass/_forms.sass */
#send-fancy button:disabled, #send-fancy input[type="button"]:disabled, #send-fancy input[type="submit"]:disabled {
  background: #aaaaaa;
  animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
  -webkit-transform: translateZ(0);
}
/* line 50, ../sass/_forms.sass */
#send-fancy button.fb-auth, #send-fancy input[type="button"].fb-auth, #send-fancy input[type="submit"].fb-auth {
  background: #3b5999;
}
/* line 53, ../sass/_forms.sass */
#send-fancy .email-group {
  display: none;
}
/* line 56, ../sass/_forms.sass */
#send-fancy .toggle-group {
  margin-bottom: 1rem;
  overflow: auto;
}
/* line 60, ../sass/_forms.sass */
#send-fancy .custom-toggle {
  float: left;
  width: 50%;
}
/* line 63, ../sass/_forms.sass */
#send-fancy .custom-toggle input[type="radio"] {
  display: none;
}
/* line 65, ../sass/_forms.sass */
#send-fancy .custom-toggle .option {
  background: #666666;
  color: white;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}
/* line 70, ../sass/_forms.sass */
#send-fancy .custom-toggle input:checked + .option {
  background: red;
}
/* line 72, ../sass/_forms.sass */
#send-fancy .custom-toggle:first-child .option {
  border-radius: 3px 0 0 3px;
}
/* line 74, ../sass/_forms.sass */
#send-fancy .custom-toggle:last-child .option {
  border-radius: 0 3px 3px 0;
}
