/* line 17, ../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "ThirstyScriptBold";
  src: url(/fonts/2D548D_0_0.eot) format('embedded-opentype'), url(/fonts/2D548D_0_0.eot?#iefix) format('embedded-opentype'), url(/fonts/2D548D_0_0.woff) format('woff'), url(/fonts/2D548D_0_0.ttf) format('truetype');
}

@font-face {
  font-family: "ThirstyScriptRegular";
  src: url(/fonts/2D5AA6_0_0.eot) format('embedded-opentype'), url(/fonts/2D5AA6_0_0.eot?#iefix) format('embedded-opentype'), url(/fonts/2D5AA6_0_0.woff) format('woff'), url(/fonts/2D5AA6_0_0.ttf) format('truetype');
}

/* line 9, ../sass/_typography.sass */
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 12, ../sass/_typography.sass */
h1 {
  font-family: "ThirstyScriptBold";
  font-size: 3rem;
  margin: 2rem 0;
  text-align: center;
}

/* line 18, ../sass/_typography.sass */
h2 {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  line-height: 2rem;
}
/* line 23, ../sass/_typography.sass */
h2.subtitle {
  margin: 2rem 0;
}

/* line 26, ../sass/_typography.sass */
h3 {
  font-size: 1.7rem;
  margin: 1.7rem 0;
}

/* line 30, ../sass/_typography.sass */
h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2rem;
  margin: 0.6rem 0;
}

/* line 36, ../sass/_typography.sass */
h5 {
  font-size: 1.4rem;
  font-family: "ThirstyScriptRegular";
  line-height: 2rem;
  margin: 2.8rem 0 1.4rem;
  -webkit-font-smoothing: antialiased;
}

/* line 43, ../sass/_typography.sass */
.intro {
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 2rem;
  text-align: center;
}
/* line 48, ../sass/_typography.sass */
.intro h4 {
  margin-bottom: 1rem;
}

/* line 51, ../sass/_typography.sass */
.heart {
  color: #e22020;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.5em;
  position: relative;
  top: -0.25em;
}

/* line 58, ../sass/_typography.sass */
.message {
  font-size: 1.3rem;
  line-height: 1.6rem;
  margin-bottom: 1.6rem;
}

/* line 63, ../sass/_typography.sass */
.new {
  font-size: 0.8rem;
  background: #e22020;
  color: white;
  margin-right: 0.5rem;
  padding: 0.2rem 0.5rem;
  position: relative;
  top: -0.2rem;
}

@media (min-width: 720px) {
  /* line 73, ../sass/_typography.sass */
  h1 {
    font-size: 4.5rem;
    margin: 4.5rem 0 3rem;
  }
  /* line 76, ../sass/_typography.sass */
  h1.small {
    font-size: 3rem;
    margin: 2rem 0;
  }

  /* line 79, ../sass/_typography.sass */
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
/* line 1, ../sass/_layout.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../sass/_layout.sass */
html {
  font-size: 14px;
}

/* line 7, ../sass/_layout.sass */
#main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
/* line 11, ../sass/_layout.sass */
#main > header {
  margin-bottom: 3rem;
}

/* line 14, ../sass/_layout.sass */
#match-modal, #message-sent-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
/* line 21, ../sass/_layout.sass */
#match-modal .modal-content, #message-sent-modal .modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 320px;
  background: white;
  padding: 1rem;
  box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.7);
  margin-top: -160px;
  margin-left: -150px;
  text-align: center;
}
/* line 33, ../sass/_layout.sass */
#match-modal h1, #message-sent-modal h1 {
  color: #e22020;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 7rem;
  margin: 2rem 0;
  line-height: 5rem;
  position: relative;
  top: -1rem;
}
/* line 41, ../sass/_layout.sass */
#match-modal h1 .match, #message-sent-modal h1 .match {
  font-size: 8rem;
}
/* line 43, ../sass/_layout.sass */
#match-modal h3, #message-sent-modal h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem 0 1.5rem;
}
/* line 47, ../sass/_layout.sass */
#match-modal a, #message-sent-modal a {
  background: #e22020;
  border: none;
  border-radius: 5px;
  color: white;
  display: block;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin-top: 1.5rem;
  outline: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}
/* line 64, ../sass/_layout.sass */
#match-modal a:hover, #message-sent-modal a:hover {
  background: #cd1c1c;
}
/* line 66, ../sass/_layout.sass */
#match-modal .no-thanks, #message-sent-modal .no-thanks {
  color: #2591da;
  cursor: pointer;
  font-size: 0.8em;
  text-decoration: underline;
  position: absolute;
  bottom: 3.75rem;
  right: 0;
  left: 0;
}

@media (min-width: 720px) {
  /* line 77, ../sass/_layout.sass */
  html {
    font-size: 16px;
  }

  /* line 80, ../sass/_layout.sass */
  #main {
    padding: 30px;
  }

  /* line 84, ../sass/_layout.sass */
  #match-modal .modal-content, #message-sent-modal .modal-content {
    width: 500px;
    margin-left: -250px;
  }
}
@keyframes pulse {
  /* line 2, ../sass/_forms.sass */
  0%, 100% {
    background-color: #aaaaaa;
  }

  /* line 4, ../sass/_forms.sass */
  50% {
    background-color: #cccccc;
  }
}

@-webkit-keyframes pulse {
  /* line 8, ../sass/_forms.sass */
  0%, 100% {
    background-color: #aaaaaa;
  }

  /* line 10, ../sass/_forms.sass */
  50% {
    background-color: #cccccc;
  }
}

/* line 13, ../sass/_forms.sass */
button, label, input, textarea {
  display: block;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  border-radius: 5px;
  -webkit-appearance: none;
}

/* line 20, ../sass/_forms.sass */
label {
  margin-bottom: 0.33rem;
  font-size: 0.8rem;
  font-weight: 700;
}

/* line 25, ../sass/_forms.sass */
input[type="email"], input[type="text"], textarea {
  color: #222222;
  border: 2px solid #dddddd;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0.5rem;
  margin-bottom: 1rem;
  -webkit-transition: border-color 200ms ease-in-out;
  -moz-transition: border-color 200ms ease-in-out;
  -o-transition: border-color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out;
}
/* line 33, ../sass/_forms.sass */
input[type="email"]:focus, input[type="text"]:focus, textarea:focus {
  border-color: #e22020;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.2);
  outline: none;
}

/* line 38, ../sass/_forms.sass */
textarea {
  height: 12rem;
}

/* line 41, ../sass/_forms.sass */
button, input[type="button"], input[type="submit"] {
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background: #e22020;
  font-size: 1.4rem;
  color: white;
  border: none;
  outline: none;
}
/* line 50, ../sass/_forms.sass */
button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled {
  background: #aaaaaa;
  animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
  -webkit-transform: translateZ(0);
}
/* line 55, ../sass/_forms.sass */
button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  background: #cd1c1c;
}
/* line 57, ../sass/_forms.sass */
button.fb-auth, input[type="button"].fb-auth, input[type="submit"].fb-auth {
  background: #3b5999;
}

/* line 60, ../sass/_forms.sass */
.error {
  display: none;
  color: #e22020;
  font-size: 0.9rem;
  margin: 0 0 1rem;
}

/* line 66, ../sass/_forms.sass */
.email-group {
  display: none;
}

/* line 69, ../sass/_forms.sass */
.toggle-group {
  border-radius: 5px;
  background: #eeeeee;
  margin-bottom: 1rem;
  padding: 0.3rem 0.3rem 0 0.3rem;
  overflow: auto;
}

/* line 76, ../sass/_forms.sass */
.custom-toggle {
  float: left;
  width: 50%;
}
/* line 79, ../sass/_forms.sass */
.custom-toggle input[type="radio"] {
  display: none;
}
/* line 81, ../sass/_forms.sass */
.custom-toggle .option {
  color: #222222;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  text-align: center;
}
/* line 87, ../sass/_forms.sass */
.custom-toggle input:checked + .option {
  background: #2591da;
  color: white;
  border-radius: 5px;
}
