*
  +box-sizing(border-box)

html
  font-size: 14px

html, body
  height: 100%

#main
  max-width: 800px
  margin: 0 auto
  padding: 20px 20px 50px
  min-height: 100%
  margin-bottom: -4rem
  &:after
    content: ""
    display: block
  & > header
    margin-bottom: 3rem

footer
  height: 4rem
  p
    margin: 0.5rem 0

@media (min-width:720px)
  html
    font-size: 16px

  #main
    padding: 30px 30px 60px

