.modal
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: $black-translucent
	.modal-content
		position: fixed
		top: 50%
		left: 50%
		width: 300px
		height: 320px
		background: $white
		padding: 1rem
		box-shadow: 0px 0px 45px $black-translucent
		margin-top: -160px
		margin-left: -150px
		text-align: center
	h1
		color: $red
		font-family: $sans-serif
		font-size: 7rem
		margin: 2rem 0
		line-height: 5rem
		position: relative
		top: -1rem
		.match
			font-size: 8rem
	h3
		font-size: 1.5rem
		font-weight: 700
		margin: 0.5rem 0 1.5rem
	a
		background: $red
		border: none
		border-radius: 5px
		color: $white
		display: block
		font-family: $sans-serif
		font-size: 1rem
		margin-top: 1.5rem
		outline: none
		padding: 0.5rem 1rem
		text-align: center
		text-decoration: none
		position: absolute
		bottom: 1rem
		left: 1rem
		right: 1rem
		&:hover
			background: $red-hover
	.no-thanks
		color: $blue
		cursor: pointer
		font-size: 0.8em
		text-decoration: underline
		position: absolute
		bottom: 3.75rem
		right: 0
		left: 0

@media (min-width:720px)
	.modal
		.modal-content
			width: 500px
			margin-left: -250px