+font-face("ThirstyScriptBold", font-files("/fonts/2D548D_0_0.eot", "/fonts/2D548D_0_0.eot?#iefix", "/fonts/2D548D_0_0.woff", "/fonts/2D548D_0_0.ttf"))

$sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
$script: "ThirstyScriptBold"

body
	font-family: $sans-serif


h1
	font-family: $script
	font-size: 4.5rem
	text-align: center
	font-weight: 300
	margin: 4.5rem 0 3rem

h2
	font-size: 2rem
	font-weight: 300
	text-align: center
	line-height: 2.5rem
	&.subtitle
		margin: 3rem 0

h3
	font-size: 1.7rem
	margin: 1.7rem 0

h4
	font-size: 1.4rem
	font-weight: 700
	line-height: 1.2rem
	margin: 0.6rem 0

.heart
	color: red
	font-size: .5em
	position: relative
	top: -.25em

.new
	font-size: 0.8rem
	background: red
	color: #fff
	margin-right: 0.5rem
	padding: 0.2rem 0.5rem
	position: relative
	top: -0.2rem