<div class="message">
  <h5>Dear {{first_name}},</h5>
  <p class="message-body">{{{message}}}</p>
  <h5>Love,<br>Your Secret Admirer</h5>
</div>
<form id="match-form">
  <label for="match_name">
    <h6>Fancy someone? What's their first name?</h6>
    <p>If it's your secret admirer you'll both be notified. (Limit 1 check)</p>
  </label>
  <input type="text" name="match_name" id="match_name" placeholder="e.g. John">
  <div class="error"></div>
  <input type="submit" value="Check for match">
</form>