<div class="message">
	<h5>Dear {{first_name}},</h5>
	<p>{{message}}</p>
	<h5>Love,<br>Your Secret Admirer</h5>
</div>
<form id="match-form">
	<label for="match_name">Do you fancy someone? Enter their first name, if it's your secret admirer you'll both be notified. (Limit 1 check)</label>
	<input type="text" name="match_name" id="match_name" placeholder="e.g. John">
	<div class="error"></div>
	<input type="submit" value="Check for match">
</form>