<div class="modal-content">
  <h3>It's a match!</h3>
  <p>{{match_name}} sent you this lovely message. We'll let them know you fancy them back. Go on lovebirds, have fun!</p>
  <a href="#" class="close-modal">Close</a>
</div>