<div class="modal-content">
	<h1 class="match">&#9829;</h1>
	<h3>It's a match!</h3>
	<p>{{match_name}} sent you this lovely message. They will receive a message letting them know that you fancy them too. Go on lovebirds, have fun!</p>
	<a href="#" class="close-modal">Close</a>
</div>