<div class="modal-content">
  <h1>&#10003;</h1>
  <h3>Your fancy has been sent!</h3>
  <p>{{first_name}} is bound to love it. We'll ask them who they fancy, and if they enter your name we'll let you both know it's a match!</p>
  <a href="#" class="close-modal">Close</a>
</div>