<div class="modal-content">
	<h1>:(</h1>
	<h3>{{match_name}} isn't your secret admirer.</h3>
	<p>Not to worry though, why not send them an anonymous fancy?</p>
	<p class="no-thanks close-modal">No thanks</p>
	<a href="/">Send {{match_name}} a fancy now</a>
</div>